{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'initiatives/main.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        {% block headcontent %}{% endblock headcontent %}
    </head>
    <body>

        <div class="navbar">
            <a href="#home">Home</a>
            <a href="{% url 'news' %}">News</a>
            
            <div class="dropdown">
              <button class="dropbtn">value chain
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="{% url 'initiatives_home' %}">Home</a>
                <a href="{% url 'plan' %}">Plan</a>
                <a href="{% url 'buy' %}">Buy</a>
                <a href="{% url 'make' %}">Make</a>
                <a href="{% url 'sell' %}">Sell</a>
              </div>
            </div>

              <div class="dropdown">
                <button class="dropbtn">Data & Analytics
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a>s1</a>
                    <a>s2</a>
                    <a>s3</a>
                    <a>s4</a>
                </div>
            </div>

                <div class="dropdown">
                    <button class="dropbtn">Apps
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="{% url 'demand_as_cattle' %}">Demand as Cattle</a>
                        <a href="{% url 'yield_trees' %}">Yield Trees</a>
                        <a>s3</a>
                    </div>
                </div>


          </div>

        <div id="main">

            {% if title %}
                <h2>{{ title }}</h2>
            {% else %}
                {% comment %} <h2>No title</h2> {% endcomment %}
            {% endif %}

            {% if subheading %}
            <h4>{{ subheading }}</h4>
            {% else %}
            <h2></h2>
            {% endif %}


            <div>
                {% block content %}{% endblock content %}
            </div>
        </div>

    </body>

</html> 
