{% extends "initiatives/base.html" %}
{% load static %}
{% block headcontent %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://cdn.jsdelivr.net/npm/danfojs@1.1.0/lib/bundle.min.js"></script>

<script type="text/javascript">
  google.charts.load('current', {packages: ['corechart', 'bar']});
  google.charts.setOnLoadCallback(draw_DAC_bar);
  google.charts.setOnLoadCallback(draw_DAC_line);

  // only get data once . To avoid calling get_data and get_data_wide etc functions again and again
    var all_data = get_data()
    var all_data_wide = get_data_wide()

    function get_data(jsonString="{{ json_demand_as_cattle|escapejs }}"){
        let json_data = JSON.parse(jsonString);
        // now convert data into different formats
        // df
        var data_danfo_df = new dfd.DataFrame(json_data);
        // array of arrays, which google viz needs, where 1st array is column names.
        //let temp_json = dfd.toJSON(data_danfo_df)
        //var data_arrays = [Object.keys(temp_json[0])].concat( temp_json.map((x) => Object.values(x)) );
        let data_arrays = convert_danfoDF_2_array_of_arrays(data_danfo_df)
        return {'danfo_df':data_danfo_df, 'arrays':data_arrays}
    }

    function get_data_wide(jsonString="{{ json_demand_as_cattle_wide|escapejs }}"){
        let json_data = JSON.parse(jsonString);
        // now convert data into different formats
        // df
        var data_danfo_df = new dfd.DataFrame(json_data);
        // array of arrays, which google viz needs, where 1st array is column names.
        //let temp_json = dfd.toJSON(data_danfo_df)
        //var data_arrays = [Object.keys(temp_json[0])].concat( temp_json.map((x) => Object.values(x)) );
        let data_arrays = convert_danfoDF_2_array_of_arrays(data_danfo_df)
        return {'danfo_df':data_danfo_df, 'arrays':data_arrays}
    }
    
    function convert_danfoDF_2_array_of_arrays(df){
        let temp_json = dfd.toJSON(df)
        var data_arrays = [Object.keys(temp_json[0])].concat( temp_json.map((x) => Object.values(x)) );
        return data_arrays;
    }

    function filter_data(){
        xdate = document.getElementById('date_dropdown').value;
        xcrm_site = document.getElementById('crm_site_dropdown').value;
        xcattle_type = document.getElementById('cattle_type_dropdown').value;
        if (xdate == null){var xdate = 'All';}
        if (xcrm_site == null){var xcrm_site = 'All';}
        if (xcattle_type == null){var xcattle_type = 'All';}
        // remove rows with invalid dates or crm site
        let df = all_data['danfo_df'];
        let df2 = df;
        if (xdate != 'All'){
            df2 = df2.iloc({rows: df2["fiscalWeekStartDate"].eq(xdate)}).resetIndex();
        }
        if (xcrm_site != 'All'){
            df2 = df2.iloc({rows: df2["crm_site"].eq(xcrm_site)}).resetIndex();
        }
        if (xcattle_type != 'All'){
            df2 = df2.iloc({rows: df2["master_cattle_type"].eq(xcattle_type)}).resetIndex();
        }
        return df2;
    }

    function filter_data_wide(){
        // no need to filter a date on line plot but filter on other selections
        xcrm_site = document.getElementById('crm_site_dropdown').value;
        xcattle_type = document.getElementById('cattle_type_dropdown').value;
        if (xcrm_site == null){var xcrm_site = 'All';}
        if (xcattle_type == null){var xcattle_type = 'All';}
        // remove rows with invalid dates or crm site
        let df = all_data_wide['danfo_df'];
        let df2 = df;
        if (xcrm_site != 'All'){
            df2 = df2.iloc({rows: df2["crm_site"].eq(xcrm_site)}).resetIndex();
        }
        if (xcattle_type != 'All'){
            df2 = df2.iloc({rows: df2["master_cattle_type"].eq(xcattle_type)}).resetIndex();
        }
        return df2;
    }

    function gen_data_bar(){
        let data = filter_data().loc({columns: ['primal_group', 'heads']});
        // aggregate data as primal_group, sum(heads)
        data = data.groupby(['primal_group']).col(['heads']).sum().rename({'heads_sum':'heads'}).sortValues('heads', {ascending:false})
        // convert to google viz datatable
        let array_of_arrays = convert_danfoDF_2_array_of_arrays(data);
        var gv_data = new google.visualization.arrayToDataTable( array_of_arrays );
        return gv_data;
    }

    function gen_data_line(){
        let data = filter_data_wide().drop({columns: ['master_cattle_type', 'crm_site']});
        // aggregate data as primal_group, sum(heads)
        data = data.groupby(['fiscalWeekStartDate']).sum().sortValues('fiscalWeekStartDate', {ascending:true})
        // doing above sum adds _sum to end of column names so rename them
        console.log(data);
        rnc = {}
        for (let i = 0; i < data.columns.length; i++){
            cnc = data.columns[i];
            if (cnc.includes('_sum')){
                rnc[cnc] = cnc.replace('_sum','');
            }
        }
        data.rename(rnc, { inplace: true })
        // convert to google viz datatable
        let array_of_arrays = convert_danfoDF_2_array_of_arrays(data);
        var gv_data = new google.visualization.arrayToDataTable( array_of_arrays );
        return gv_data;
    }

    function draw_DAC_bar() {
        var data_barPlot = gen_data_bar();
        var options_barPlot = {
            title: 'Demand as Cattle by primal group',
            fontName: 'Roboto',
            fontSize: '12',
            legend: { position: "none" },
            chartArea: {width: '50%', height: '85%'},
            hAxis: {
            title: 'Heads',
            minValue: 0,
            },
            vAxis: {
            title: 'Primal',
            }
        };
        var barPlot = new google.visualization.BarChart(document.getElementById('dac_plot_bar'));
        barPlot.draw(data_barPlot, options_barPlot);
    }

    function draw_DAC_line() {
        var data_linePlot = gen_data_line();
        var options_linePlot = {
            title: 'Demand as Cattle per week',
            curveType: 'function',
            fontName: 'Roboto',
            fontSize: '12',
            legend: { position: "none" },
            chartArea: {width: '50%', height: '85%'},
            hAxis: {
            title: 'Date',
            },
            vAxis: {
            title: 'Heads',
            minValue: 0,
            viewWindow:{
                min:0,
              }
            }
        };
        var lineChart = new google.visualization.LineChart(document.getElementById('dac_plot_line'));
        lineChart.draw(data_linePlot, options_linePlot);

        google.visualization.events.addListener(lineChart, 'select', function(e) {
            var selectedItem = lineChart.getSelection()[0];
            var selected_date = data_linePlot.getValue(selectedItem.row, 0);
            let element = document.getElementById('date_dropdown');
            element.value = selected_date;
            // need to trigger the change handler with code
            $('#date_dropdown').change();
          });
    }

</script>
{% endblock headcontent %} 
{% block content %}

<div>

    <label for="date">Date:</label>
    <select name="date" id="date_dropdown" onchange="draw_DAC_bar();">
        <option value="All">All</option>
    {% for d in distinct_dates %}
        <option value="{{d}}">{{d}}</option>
    {% endfor %}
    </select>

    <label for="crm_site">Site:</label>
    <select name="crm_site" id="crm_site_dropdown" onchange="draw_DAC_bar();draw_DAC_line();">
        <option value="All">All</option>
    {% for s in distinct_crm_site %}
        <option value="{{s}}">{{s}}</option>
    {% endfor %}
    </select>

    <label for="cattle_type">Cattle Type:</label>
    <select name="cattle_type" id="cattle_type_dropdown" onchange="draw_DAC_bar();draw_DAC_line();">
        <option value="All">All</option>
    {% for ct in distinct_cattle_type %}
        <option value="{{ct}}">{{ct}}</option>
    {% endfor %}
    </select>
</div>

<div style="width: 100%; overflow: hidden">
  <div id="dac_plot_bar" style="height: 400px; width: 90%; float: left"></div>
</div>
<br></br>
<div style="width: 100%; overflow: hidden">
    <div id="dac_plot_line" style="height: 300px; width: 90%; float: left"></div>
</div>

{% endblock content %}
