{% extends "initiatives/base.html" %} {% load static %} {% block headcontent %}

<script
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"
></script>
<script type="text/javascript">
  google.charts.load('current', {packages: ['corechart', 'bar']});
  google.charts.setOnLoadCallback(draw_DAC_bar);
  google.charts.setOnLoadCallback(drawLineChart);

  function gen_data_bar(){
      var data = new google.visualization.DataTable();
              data.addColumn('string', 'fiscalWeekStartDate');
              data.addColumn('string', 'product_name_group');
              data.addColumn('number', 'heads');
      {% for i,row in df_demand_as_cattle.iterrows %}
              data.addRows( 1 );
              data.setCell({{ i }}, 0, '{{ row.fiscalWeekStartDate }}' );
              data.setCell({{ i }}, 1, '{{ row.product_name_group }}' );
              data.setCell({{ i }}, 2, {{ row.heads }} );
      {% endfor %}
      return data;
  }

  function dac_bar_as_DataTable(xdate){
      if (xdate == null){var xdate = "{{min_date}}";}
      var data = gen_data_bar();
      console.log(data);
      // remove rows with invalid dates
      rows2remove = []
      for (var i = 0; i < data.getNumberOfRows(); i++) {
          if (data.getValue(i,0) != xdate){
              rows2remove.push(i);
          }
      }
      // must offset though e.g. if we are to remove rows 2 and 5
      // well if we 1st remove row 2 then row 5 is now in position 4
      var xoffset = 0;
      for (var i = 0; i < rows2remove.length; i++) {
          data.removeRow(rows2remove[i]+xoffset);
          var xoffset = xoffset-1;
      }
      return data;
  }

  function draw_DAC_bar(xdate) {
      var data_barPlot = dac_bar_as_DataTable(xdate);
      // remove the date column (not required for plot)
      data_barPlot.removeColumn(0);

      var options_barPlot = {
          title: 'Demand as Cattle',
          legend: { position: "none" },
          chartArea: {width: '70%'},
          hAxis: {
            title: 'Heads',
            minValue: 0
          },
          vAxis: {
            title: 'Primal'
          }
        };

      var barPlot = new google.visualization.BarChart(document.getElementById('dac_plot_bar'));
      barPlot.draw(data_barPlot, options_barPlot);
  }

  function json_2_col1st_arrays(jsonString){
      // google.visualization.arrayToDataTable expect 1st array to be column names then data so do that here
      let array  = JSON.parse(jsonString);
      array2 = [array.columns].concat(array.data)
      return array2
  }

  function drawLineChart(jsonString="{{ json_demand_as_cattle_wide|escapejs }}"){
      var array_linePlot = json_2_col1st_arrays(jsonString);
      var data_linePlot = google.visualization.arrayToDataTable(array_linePlot);

      var options_line = {
        title: 'Demand as Cattle per week',
        curveType: 'function',
        legend: { position: "none" },
          chartArea: {width: '80%'},
      };

      var lineChart = new google.visualization.LineChart(document.getElementById('dac_plot_line'));
      lineChart.draw(data_linePlot, options_line);

      google.visualization.events.addListener(lineChart, 'select', function(e) {
          console.log("you selected...");
          console.log("Column")
          let cs = array_linePlot[0][lineChart.getSelection()[0]['column']]
          console.log( cs )
          console.log("Row")
          var rs = array_linePlot[lineChart.getSelection()[0]['row']+1];
          console.log( rs )

          // change date dropdown value to match that date selected in line plot
          let selected_date = rs[0];
          let element = document.getElementById('date_dropdown');
          element.value = rs[0];
          // now rerun bar plot for the date selected
          draw_DAC_bar(selected_date);
        });

    }
</script>
{% endblock headcontent %} {% block content %}
<label for="date">Choose a date:</label>
<select name="date" id="date_dropdown" onchange="draw_DAC_bar(this.value);">
  {% for d in distinct_dates %}
  <option value="{{d}}">{{d}}</option>
  {% endfor %}
</select>

<div style="width: 100%; overflow: hidden">
  <div id="dac_plot_bar" style="height: 650px; width: 48%; float: left"></div>
  <div id="dac_plot_line" style="height: 650px; width: 48%; float: right"></div>
</div>

{% endblock content %}
