{% extends "initiatives/base.html" %}
{% block headcontent %}

<style>
    .bold-green-font {
      font-weight: bold;
      color: green;
    }
  
    .bold-font {
      font-weight: bold;
    }
  
    .right-text {
      text-align: right;
    }
  
    .large-font {
      font-size: 15px;
    }
  
    .italic-darkblue-font {
      font-style: italic;
      color: darkblue;
    }
  
    .italic-purple-font {
      font-style: italic;
      color: purple;
    }
  
    .underline-blue-font {
      text-decoration: underline;
      color: blue;
    }
  
    .gold-border {
      border: 3px solid gold;
    }
  
    .deeppink-border {
      border: 3px solid deeppink;
    }
  
    .orange-background {
      background-color: orange;
    }
  
    .orchid-background {
      background-color: orchid;
    }
  
    .beige-background {
      background-color: beige;
    }

    .gray-background {
        background-color: gray;
      }

    .google-visualization-table-table td.custom-table-td {
        border: solid black;
        border-width: 2px 2px 1px 1px;
    }
  
    </style>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    google.charts.load('current', {'packages':['table']});
    google.charts.setOnLoadCallback(drawEastCoastTableREALDATA);
    google.charts.setOnLoadCallback(drawWestCoastTable);

    function drawEastCoastTableREALDATA() {

        var cssClassNames = {
            'headerRow': 'large-font bold-font ',
            'tableRow': '',
            'oddTableRow': 'beige-background',
            'selectedTableRow': 'orange-background large-font',
            'hoverTableRow': '',
            'headerCell': 'gold-border',
            'tableCell': 'custom-table-td',
            'rowNumberCell': 'underline-blue-font'};
        
        var options = {'showRowNumber': false, 'allowHtml': true, 'cssClassNames': cssClassNames, 'width': '25%'};

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Metric');
        data.addColumn('number', 'Tamworth');
        data.addColumn('number', 'Naracoorte');
        data.addColumn('number', 'Total East Coast');
        data.addRows(4);

        {% for i,row in df_cost_per_kg.iterrows %}
            data.setCell({{ i }}, 0, '{{ row.Metric }}');
            data.setCell({{ i }}, 1, {{ row.Tamworth }});
            data.setCell({{ i }}, 2, {{ row.Naracoorte }});
            data.setCell({{ i }}, 3, {{ row.Total_East_Coast }});
        {% endfor %}

        var table = new google.visualization.Table(document.getElementById('table_primary_processing_east_coast'));

        table.draw(data, options);

    }

    function drawEastCoastTable() {

        var cssClassNames = {
            'headerRow': 'large-font bold-font ',
            'tableRow': '',
            'oddTableRow': 'beige-background',
            'selectedTableRow': 'orange-background large-font',
            'hoverTableRow': '',
            'headerCell': 'gold-border',
            'tableCell': 'custom-table-td',
            'rowNumberCell': 'underline-blue-font'};
        
        var options = {'showRowNumber': false, 'allowHtml': true, 'cssClassNames': cssClassNames, 'width': '25%'};

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Metric');
        data.addColumn('number', 'Tamworth');
        data.addColumn('number', 'Naracoorte');
        data.addColumn('number', 'Total East Coast');
        data.addRows(4);

        data.setCell(0, 0, 'Last 30 days Average');
        data.setCell(0, 1, 1.30, '$1.30');
        data.setCell(0, 2, 1.42, '$1.42');
        data.setCell(0, 3, 1.35, '$1.35');
        data.setCell(1, 0, 'Prior FY Average');
        data.setCell(1, 1, 1.28, '$1.28');
        data.setCell(1, 2, 1.44, '$1.44');
        data.setCell(1, 3, 1.30, '$1.35');
        data.setCell(2, 0, 'Current FY Average');
        data.setCell(2, 1, 1.30, '$1.30');
        data.setCell(2, 2, 1.44, '$1.44');
        data.setCell(2, 3, 1.36, '$1.36');
        data.setCell(3, 0, 'Target');
        data.setCell(3, 1, 1.25, '$1.25', {'style': 'background-color: red;'});
        data.setCell(3, 2, 1.25, '$1.25', {'style': 'background-color: red;'});
        data.setCell(3, 3, 1.25, '$1.25', {'style': 'background-color: red;'});

        var table = new google.visualization.Table(document.getElementById('table_primary_processing_east_coast'));

        table.draw(data, options);

    }

    function drawWestCoastTable() {

        var cssClassNames = {
            'headerRow': 'large-font bold-font ',
            'tableRow': '',
            'oddTableRow': 'beige-background',
            'selectedTableRow': 'orange-background large-font',
            'hoverTableRow': '',
            'headerCell': 'gold-border',
            'tableCell': 'custom-table-td',
            'rowNumberCell': 'underline-blue-font'};
        
        var options = {'showRowNumber': false, 'allowHtml': true, 'cssClassNames': cssClassNames, 'width': '25%'};

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Metric');
        data.addColumn('number', 'ACC');
        data.addColumn('number', 'Total West Coast');
        data.addRows(4);       

        data.setCell(0, 0, 'Last 30 days Average');
        data.setCell(0, 1, 1.40, '$1.30');
        data.setCell(0, 2, 1.40, '$1.42');
        data.setCell(1, 0, 'Prior FY Average');
        data.setCell(1, 1, 1.38, '$1.28');
        data.setCell(1, 2, 1.38, '$1.44');
        data.setCell(2, 0, 'Current FY Average');
        data.setCell(2, 1, 1.39, '$1.30');
        data.setCell(2, 2, 1.39, '$1.44');
        data.setCell(3, 0, 'Target');
        data.setCell(3, 1, 1.25, '$1.30', {'style': 'background-color: red;'});
        data.setCell(3, 2, 1.25, '$1.30', {'style': 'background-color: red;'});

        var table = new google.visualization.Table(document.getElementById('table_primary_processing_west_coast'));

        table.draw(data, options);

    }

    </script>
{% endblock headcontent %}

{% block content %}
    <br></br>

    <div><h4>Cost per KG</h4></div>   
    <div id="table_primary_processing_east_coast" class="table_div"></div>

    <br></br>
    <div id="table_primary_processing_west_coast" class="table_div"></div>

    {% comment %} {% for i,row in df_cost_per_kg.iterrows %}
        {% for column in row %}
            <div>{{ column }}</div>
        {% endfor %}
    {% endfor %} {% endcomment %}

{% endblock content %}